.features {
  margin: 0;
  padding: 0;
  width: 320px;
  margin: 0 auto;
  list-style: none;
  background-color: $features-background-color;
  text-transform: uppercase;
  text-align: left;
}

.features__wrapper {
  width: 280px;
  margin: 0 auto;
}

.features__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 2px;
  padding-right: 20px;
}

.features__title {
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
  margin-left: 10px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: $features-heading-color;
}

.features__text {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  margin-left: 50px;
  font-size: 14px;
  line-height: 21px;
  color: $features-text-color;
}

@media (min-width: 768px) {
  .features {
    width: 100%;
    display: flex;

    &__wrapper {
      display: flex;
      margin: 0 auto;
      width: 728px;
    }

    &__item {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    &__title,
    &__text {
      margin-left: 0;
    }
  }
}

@media (min-width: 1280px) {
  .features__wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
  }

  .features__item {
    width: 400px;
  }
}
