.form-section {
  margin: 0;
  padding: 0;
  border: none;
}

.form-section__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-section__item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 58px;
  margin-bottom: 20px;
}

.form-section__field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;  
}

.page-review-emotion__textarea {
  width: 280px;
  height: 160px;
}

@media (min-width: 768px) {
  .form-section__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .form-section__item:last-of-type {
    margin-bottom: 0;
  }

  .form-section__textarea {
    width: 648px;
  }
}
