.info{
  margin: 0 30px;
  padding-bottom: 30px;
  font-weight: 26px;

  &__title{
    margin-bottom: 26px;
    text-align: center;
    color: $heading-dark;
  }

  &__text{
    margin-bottom: 29px;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    text-align: center;
    color: $text-color-gray--light;
  }
}
