.main-nav {
  position: relative;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  text-transform: uppercase;
  color: $main-nav-link-color;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #678fa8;
  border-top: 1px solid #9ac2db;
}

.main-nav__link {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 8px;
  padding-bottom: 7px;
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  color: $main-nav-link-color;
  text-decoration: none;

  &:visited {
    color: $white;
  }

  &:hover,
  &:focus {
    background-color: #669ec0;
  }

  &:active {
    color: $white;
    background-color: #5496bd;
  }
}

.main-nav__toggle {
  position: absolute;
  height: 21px;
  width: 23px;
}

@media (min-width: 768px) {
  .main-nav {
    color: #000000;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-around;
  }

  .main-nav__item {
    height: 56px;
    border-bottom: none;
    border-top: none;
  }

  .main-nav__link {
    text-decoration: none;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: 1280px) {
  .main-nav{
    margin: 0 auto;
    width: 1200px;
  }

  .main-nav__item {
    min-width: 239px;
  }
}
