.main-banner {
  min-height: 100%;
  min-width: 100%;
  position: relative;
  background-color: $main-banner-background-color;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: cover;
  overflow: hidden;

  &--long {
    min-height: 390px;
  }
  &--short {
    min-height: 160px;
    background-size: 100%;
    background-position: right;
  }
}

.main-banner__image {
  position: relative;
  display: block;
  margin: auto;
  top: -7px;
  width: 229px;
}

@media (min-width: 768px) {
  .main-banner {
    &--long {
      min-height: 518px;
      background-size: 100%;
    }

    &--short {
      min-height: 290px;
    }
  }
}

@media (min-width: 1200px) {
  .main-banner__image {
    height: 302px;
  }
}
