.page-footer {
  text-align: center;
  padding-top: 39px;
}

.page-footer__hashtag {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: $page-footer-hashtag-color;
}

.page-footer__social-btn {
  margin: 40px 340px 49px;
}

.page-footer__copyright {
  font-size: 14px;
  line-height: 26px;
}

.page-footer__text {
  margin: 0;
  padding: 0;
  padding-right: 50px;
}
