.page-header {
  position: relative;
  background-color: $page-header-background-color;
}

.page-header__logo {
  width: 102px;
  height: 83px;
  position: absolute;
}

.page-header__image {
  overflow: hidden;
  margin: 0 auto;
}
