.reasons__item {
  padding: 40px 20px;
  background-color: $reasons-background-color;

  &__short {
    width: 280px;
    margin: 0 auto;
    background-color: transparent;
    text-align: center;
  }
}

.reasons__title {
  margin: 0 auto;
  margin-bottom: 8px;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  color: $reasons-heading-color;
}

.reasons__number {
  display: block;
  margin-bottom: 14px;
  text-align: center;
}

.reasons__text {
  margin: 0 auto;
  text-align: center;
  color: $gray-light;
}

@media (min-width: 768px) {
  .reasons__wrapper {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .reasons__item {
    display: flex;
    flex-wrap: wrap;

    &__short {
      width: 33.33%;
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}

@media (min-width:1280px) {
  .reasons__wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
  }

  .reasons__item {
    width: 400px;
  }
}
