.search {
  padding: 30px 20px 50px 20px;
  text-align: center;
  text-transform: uppercase;
}

.search__title {
  font-weight: bold;
  font-size: 21px;
  line-height: 19px;
  color: $search-heading-color;
}

.search__description {
  font-size: 14px;
  line-height: 24px;
  padding-top: 22px;
  color: $search-text-color;
}

.search__link {
  margin-top: 35px;
}

.search__button {
  margin-top: 38px;
}

@media (min-width: 768px) {
  .search {
    margin: 0 auto;
    padding: 50px 0;
    width: 458px;
  }
}
