.video {
  text-align: center;
  padding-top: 35px;
}

.video__title {
  font-size: 18px;
  line-height: 26px;
}

.video__description {
  margin: 0;
  padding: 35px 25px 40px;
  line-height: 24px;
  color: $video-text-color;
}

.video__clip {
  margin: 0 auto;
  width: 320px;
  text-align: center;
}

.video__player {
  margin: 0 auto;
  height: 200px;
}
