$white: #ffffff;
$dark: #000000;
$dark-light: #333333;
$blue: #81b3d2;
$blue-beau: #bcd4e6;
$gray: #eeeeee;
$gray-light: #b3b3b3;

$page-header-background-color: $blue;
$main-nav-link-color: $white;
$main-banner-background-color: $blue-beau;
$info-heading-color: $dark;
$info-text-color: $gray-light;
$reason-heading-color: $white;
$reason-text-color: $blue-beau;
$reason-image-background-color: $white;
$reason-background-color: $blue;
$features-heading-color: $dark;
$features-text-color: $dark-light;
$features-background-color: $white;
$reasons-heading-color: $dark;
$reasons-text-color: $gray-light;
$reasons-background-color: $gray;
$search-heading-color: $dark;
$search-text-color: $gray-light;
$photo-heading-color: $dark;
$photo-text-color: $dark-light;
$video-text-color: $dark-light;
$page-footer-hashtag-color: $dark;
